[unit]
description = backend service

[service]
user=expense
environment=DB_HOST="mysql-dev.bdevops55.online"
execstart=/bin/node/app/index.js
syslogidentifier=backend

[install]
wantedby=multi-user.target
