[Unit]
Description = Backend Service

[Service]
User=expense
Environment=DB_HOST="mysql-dev.bdevops55.online"
Execstart=/bin/node /app/index.js
Syslogidentifier=backend

[Install]
WantedBy=multi-user.target
