[unit]
description = backend service

[service]
user=expense
environment=DB_HOST="mysql-dev.bdevops55.online"
execStart=/bin/node /app/index.js
syslogIdentifier=backend

[install]
wantedBy=multi-user.target
